<div class="container">
    <form action="/register" method="post" class="form">
    <h1 class="page_title">Registre-se</h1>
    <div class="div_form"> 
        <label for="name">Nome:</label>
        <input type="text" name="name" placeholder="Digite o seu nome">
    </div>
    <div>
        <label for="email">Email:</label>
        <input type="email" name="email" placeholder="Digite o seu email">
    </div>
    <div>
        <label for="password">Digite sua senha:</label>
        <input type="password" name="password" placeholder="Digite sua senha">
    </div>
    <div>
        <label for="confirmpassword">Confirme a senha:</label>
        <input type="password" name="confirmpassword" placeholder="Confirme a sua senha">
    </div>
        <input class="btn" type="submit" value="Cadastrar">
        <p class="text_final">Já tem cadastro em nossa página? Faça o <a class="link_login" href="/login">login</a></p>
    </form>
</div>