*{
    background-color: #222;
    color: whitesmoke;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.navbar{
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #f6982d;
    height: 85px;
}


.img_logo{
    max-height: 50px;
    margin-top: 15px;
    margin-left: 45px;
}

.lista{
    display:flex;
    list-style: none;
    margin: auto 0;
    margin-right: 30px;
}

.lista li a{
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    margin-right: 15px;
}

.container_body{
    min-height: 80vh;
    padding: 20px
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 2px solid #f6982d;
    height: 85px;
    
}

.footer p span{
    color: #f6982d;
}


.container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.container div{
    display: flex;
    flex-direction: column;
    margin: 20px 0
}

.container div label {
    margin-bottom: 5px;
    font-weight: bold;
}

.container div input{
    border: 1px solid #f6982d;
    padding: 10px 10px;
    width: 35vw;

}

.page_title{
    border-left: 3px solid #f6982d;
    padding-left: 10px;
}

.btn{
    border: 2px solid #f6982d;
    color: #f6982d;
    font-weight: bold;
    border-radius: 5px;
    padding: 10px 20px;
    margin-bottom: 30px;
    transition: .4s;
    cursor: pointer;
    text-decoration: none;
}

.btn:hover{
    color: whitesmoke;
    background-color: #f6982d;;
}

.login p{
    text-decoration: none;
    color: #f6982d;
}

.link_login{
    color:#f6982d;
}

.flash_msg{
    width: 600px;
    height: 45px;
    background-color: tomato;
    border: 1px solid red;
    text-align: center;
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 30px;
    padding-top: 10px;
}

.dashboard_container{
    display: flex;
    justify-content: space-between;
}

.dashboard_list{
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #f6982d;
    padding: 20px;
    font-weight: bold;
    color: #f6982d;
}

.list{
    color: white;
    border: 1px solid white;
    text-align: center;
    margin-right: 10px;
    padding: 14px;
    
}

.thought{
    margin-bottom: 0;
}

.container_thoughts{
    margin-top: 30px;
}

.btns{
    display: flex
}

.form_input{
    border: 1px solid white;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    padding: 10px 20px;
    margin-bottom: 30px;
    transition: .4s;
    cursor: pointer;
    text-decoration: none;
    height: 50px;
}

.form_input:hover{
    color: whitesmoke;
    background-color: #f6982d;
}

.author{
    color:#f6982d
}

.thoughts_home{
    font-style: italic;
    font-size: 25px;
    margin-bottom: 5px;
}

.title{
    margin-bottom: 50px;
    border-left: 3px solid #f6982d;
    padding-left: 10px;

}

.thoughts_container{
    border-bottom: 1px solid rgb(168, 168, 168);
}

#btn_busca {
    width: 200px;
    cursor: pointer;
}

#btn_busca:hover{
    color: whitesmoke;
    background-color: #f6982d;;
}

.title span{
    color: #f6982d;
    font-style: italic;
}

h3{
    font-style: italic;
    margin-bottom: 2em ;
}

h3 span{
    color: #f6982d;
}

